*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    font-family: roboto;
}
img{
    width: 300px;
    height: 200px;
}
.navbar-brand{
    font-family:monospace;
    font-weight: bolder;
    font-size: 2em;
}
.nav-link{
    margin: 0 20px;
  
}
